.h1 {
	font-family: "Georgia", serif;
	color: #DAF7A6;
}

.h2 {
	font-family: "Georgia", serif;
	color: #FF5733;
}


.p {
	font-family: "Times New Roman", serif;
	color: #daeeb5;
	text-align: justify;
  	text-justify: inter-word;
}

.footer { 
	font-family: "Georgia", serif;
	color: #ff5733;
        position: fixed; 
        padding: 10px 10px 0px 10px; 
        bottom: 0; 
        width: 100%; 
        height: 40px;  
	text-align: center;
} 
        
